.user__item
  display: flex
  width: 100%
  justify-content: space-between
  margin-bottom: 25px
  align-items: center
.user__item-avatar
  width: 60px
  height: 60px
  border-radius: 50%
  overflow: hidden
  background: #00d747
  color: #ffffff
  display: flex
  justify-content: center
  align-items: center
.users-catalog
  padding-left: 5%
  padding-right: 5%
.user__item-name
  width: 40%
.user__item-age
  width: 10%
.user__item-rating
  width: 10%
